/* @link https://utopia.fyi/type/calculator?c=360,18,1.2,1920,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.7813rem, 0.7769rem + 0.0192vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9231rem + 0.0641vw, 1rem);
  --step-0: clamp(1.125rem, 1.0962rem + 0.1282vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.301rem + 0.2179vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5431rem + 0.3417vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.8292rem + 0.5102vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.1669rem + 0.7374vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.5651rem + 1.0414vw, 3.8147rem);
}

body {
  background-image: url(../wheat_background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
}

.google-btn:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.google-logo {
  width: 18px;
  height: 18px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: rgba(255, 255, 255, 0.25); /* Semi-transparent white background */
  backdrop-filter: blur(12px); /* This creates the frosted glass blur */
  -webkit-backdrop-filter: blur(12px); /* Needed for Safari support */
  border-bottom: 1px solid rgba(255, 255, 255, 0.4); /* Subtle top/bottom edge lighting */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05); /* Soft shadow for depth */

  /* Keeps the header at the top to see the effect while scrolling */
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--primary-green);
  text-decoration: none;
}

.nav a {
  margin: 0 15px;
  text-decoration: none;
  color: var(--text-main);
  font-size: 0.9rem;
}

.nav a.active {
  border-bottom: 2px solid var(--primary-green);
  padding-bottom: 5px;
}

.btn-primary,
.btn-secondary {
  display: flex;
  align-items: center;
  color: var(--pure-white);
  border: none;
  border-radius: 20px;
  font-size: 0.9rem;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
}

.btn-primary {
  background-color: #f2af29;
  border: none;
}

.btn-primary > span {
  margin-left: 8px;
}

/* Footer */
.footer {
  margin-top: auto; /* Pushes the footer to the bottom of the page */
  text-align: center;
  padding: 40px;
  background: rgba(255, 255, 255, 0.25); /* Semi-transparent white background */
  backdrop-filter: blur(12px); /* This creates the frosted glass blur */
  -webkit-backdrop-filter: blur(12px); /* Needed for Safari support */
  border-bottom: 1px solid rgba(255, 255, 255, 0.4); /* Subtle top/bottom edge lighting */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05); /* Soft shadow for depth */
}

.footer-links {
  margin: 20px 0;
}

.footer-links a {
  margin: 0 10px;
  text-decoration: none;
  color: var(--text-light);
  font-size: 0.8rem;
}

.copyright {
  font-size: 0.8rem;
  color: var(--text-light);
}
